@{
    ViewBag.Title = "Dashboard Admin";
}

<div class="menu">
    <a class="btn btn-danger" asp-action="SignOut">Cerrar Sesión</a>
    <a class="btn btn-dark" target="_blank" asp-controller="Shifts" asp-action="Index">Vista de la Pantalla</a>
</div>

<div class="content-center">
    <div class="title">
        <h1>Turnos en Cola</h1>
    </div>

    <table class="table table-striped container text-center">
        <thead>
            <tr>
                <th>Turno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in Model)
            {
                if (shift.FechaAtencion == null)
                {
                    <tr>
                        <td>@shift.CodigoTurno</td>
                        <td>
                            <a class="btn btn-sm btn-success" id="btnAttend" asp-action="Attend" asp-route-id="@shift.Id">Atender</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="title mt-5">
        <h1>Turnos Atendidos</h1>
    </div>

    <table class="table table-striped container text-center">
        <thead>
            <tr>
                <th>Turno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shift in Model)
            {
                if (shift.FechaAtencion != null && shift.FechaFin == null)
                {
                    <tr>
                        <td>@shift.CodigoTurno</td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-action="Finish" asp-route-id="@shift.Id" >Finalizar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>