* {
  padding: 0px;
  margin: 0px;
}

/* SHIFTS */
.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70vw;
  height: 60vh;
  border: 3px solid #000;
  border-radius: 6px;
  color: #000;
}

.content-shift {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

.shift-titles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  width: 100%;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
  }
}

.info-shift {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.shift {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 5px 0px;
  width: 140px;

  h2 {
    line-height: 1;
    padding: 2px 0px;
    margin: 0px;
    font-weight: bold;
  }
}

/* DASHBOARD */
.menu {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* LOGIN ADMIN */
/* Card */
.CardLog {
  width: 420px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 0.514) 9%,
      rgba(9, 9, 121, 0.418) 68%,
      rgba(0, 89, 255, 0.432) 97%);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.form-login {
  font-size: 36px;
  text-align: center;
}

.CardLog .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.CardLog .btnL {
  width: 150px;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
 box-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-left: auto;
  margin-top: 10px;
  color: rgb(0, 119, 255);
}

.bodyL {
  background-image: url(https://www.clarin.com/2022/11/21/CfwaLHeeg_720x0__1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h1L {
  font-size: 80px;
  color: #fff;
}

/* Landing */ 

.CardLan {
  width: 820px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 0.514) 9%,
      rgba(9, 9, 121, 0.418) 68%,
      rgba(0, 89, 255, 0.432) 97%);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.form-login {
  font-size: 36px;
  text-align: center;
}

.CardLan .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}

.input-box input {
  text-align: center;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.753);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.CardLan .btnLa {
  width: 340px;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-left: auto;
  margin-top: 10px;
  color: rgb(0, 119, 255);
}

.bodyLa {
  background-image: url(https://www.clarin.com/2022/11/21/CfwaLHeeg_720x0__1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyC{
  background-image: url(https://cdn.pixabay.com/photo/2021/02/03/23/09/hallway-5979689_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyTurn{
  background-image: url(https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.h1La {
  font-size: 80px;
  color: #fff;
}

.hTurn{
  font-size: 80px;
  color: rgb(0, 0, 255) !important;
  font-family: 'Times New Roman', Times, serif;
}
.h2T{
  font-size: 40px;
  color: aqua;
}

.btnLa2 {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 48px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(0, 68, 255);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  color: rgb(0, 119, 255);
}


.form-select{
  color: rgb(0, 119, 255);
  font-weight: 600;
  text-align: center;
  width: 344px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}


  /* BOTON DE TURNO */

  .buttonT {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 2rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    border-radius: 500px;
    overflow: hidden;
    background: #00e1ff;
    color: rgb(0, 0, 255);
    width: 200px; /* Ancho fijo para todos los botones */
    text-align: center; /* Centrar el texto */
}

.buttonT span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.buttonT:hover span {
    color: rgb(255, 255, 255);
}

.buttonT::before,
.buttonT::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.buttonT::before {
    content: "";
    background: #ffffff;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.buttonT:hover::before {
    transform: translate3d(100%, 0, 0);
}

/* BOTON TURNO */

.buttonTurn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 .buttonTurn:active,
 .buttonTurn:hover {
  outline: 0;
 }
 
 .buttonTurn span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .buttonTurn:hover span {
  background: none;
 }
 
 .buttonTurn:active {
  transform: scale(0.9);
 }