@{
    ViewData["Title"] = "Inicio usuarios";
}

<div class="container">
    <form asp-action="LoginUser" asp-controller="Users" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div>
                        <label for="nombre">Seleccione tipo documento</label>
                    </div>
                    <select name="" id="" class="form-select" name="tipoDocumento">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="1">Cedula</option>
                        <option value="2">Tarjeta identidad</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Digite su documento de identidad</label>
                    <input type="text" class="form-control" id="" name="documento" placeholder="Numero documento">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group" style="width: auto;">
                    <button class="btn btn-primary w-100">Ingresar</button>
                </div>
            </div>
        </div>
    </form>
</div>