<header class="header1 d-flex justify-content-center">
    <h1 class="text-light hTurn mt-5">π“›π“ π“π“²π“Όπ“®π“»π“²π“¬π“Έπ“»π“­π“²π“</h1>
</header>

<body class="bodyTurn">
    <div class="mt-5">
        <div class="d-grid gap-2 ">
            <div class="container d-flex justify-content-center mt-5">
                <div class="hTurn mt-5">
                    <div class="d-flex justify-content-center mt-5">
                        @ViewBag.Ficho
                    </div>

                    <div class="row">
                        <a asp-controller="Users" asp-action="TomarTurno" asp-route-turno="@ViewBag.Ficho"
                            class="buttonTurn justify-content-center"><span>Tomar Turno</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>